{{- if .Values.enable }}
---
{{- $project := printf "broad-dsp-monster-clingen-%s" .Values.env }}
{{- $secretName := "clinvar-key" }}
{{- $keyName := "key.json" }}
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: clinvar-secrets
spec:
  releaseName: clinvar-secrets
  targetNamespace: secrets-manager
  resetValues: true
  chart:
    repository: https://broadinstitute.github.io/datarepo-helm
    name: create-secret-manager-secret
    version: 0.0.5
  values:
    secrets:
      - secretName: {{ $secretName }}
        nameSpace: clinvar
        vals:
          - kubeSecretKey: {{ $keyName }}
            path: secret/dsde/monster/{{ .Values.env }}/command-center/service-accounts/clinvar-argo-runner
            vaultKey: key
---

apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: clinvar-orchestration
spec:
  releaseName: clinvar-orchestration
  targetNamespace: clinvar
  resetValues: true
  chart:
    git: git://github.com/databiosphere/clinvar-ingest.git
    ref: master
    path: orchestration
  values:
    gcs:
      bucketName: {{ $project }}-staging-storage
    serviceAccount:
      k8sName: argo-runner
      googleName: clinvar-argo-runner@broad-dsp-monster-{{ .Values.env }}.iam.gserviceaccount.com
    cron:
      schedule: {{ .Values.schedule }}
    dataflow:
      project: {{ $project }}
      tmpBucketName: {{ $project }}-temp-storage
      subnetName: monster-processing-network
      workerAccount: dataflow-runner@{{ $project }}.iam.gserviceaccount.com
      useFlexRS: {{ eq .Values.env "prod" }}
    bigquery:
      stagingData:
        project: {{ $project }}
        datasetPrefix: monster_staging_data
        description: Dataset used by the Monster team for ingest ETL
        # 7 days in units of seconds
        expiration: '604800'
      jadeData:
        project: {{ if (eq .Values.env "dev") }}broad-jade-dev-data{{ else }}broad-datarepo-terra-prod-cgen{{end}}
    repo:
      url: {{ if (eq .Values.env "dev") }}https://jade.datarepo-dev.broadinstitute.org{{ else }}https://datarepo.terra.bio{{end}}
      # both the datasetId and profileId will eventually need to be conditional on .Values.env, once clinvar is in prod
      datasetId: a3342973-9ce0-44ff-82fd-68f868f33aba
      profileId: cdfce15c-e1c4-42ce-94a3-ab1393c2b1f5
      accessKey:
        secretName: {{ $secretName }}
        secretKey: {{ $keyName }}
{{- end }}
