enable: false
schedule: '0 12 * * *'
argo:
  env: dev
  vaultPrefix: secret/dsde/monster/dev/command-center
  namespace: clinvar
  artifactBucket: broad-dsp-monster-clingen-dev-argo-archive
chart:
  git: true
  ref: master
repo:
  url: https://jade.datarepo-dev.broadinstitute.org
  dataProject: broad-jade-dev-data
  datasetName: monster_clinvar
  datasetId: 315d5411-1f67-4a16-8274-9da9bb137c0b
  profileId: cdfce15c-e1c4-42ce-94a3-ab1393c2b1f5
