---
# The secret manager requires two sensitive IDs in order to auth with Vault.
# Inject a "bootstrap" secret containing these IDs before pushing the release.
#
# NOTE: This should be the only instance where we need to do this. Every other
# release should be able to generate secrets using the secret-manager deployment.
{{- $secretName := "secret-manager-bootstrap" }}
{{- $roleKey := "roleId" }}
{{- $secretKey := "secretId"}}
apiVersion: v1
kind: Secret
metadata:
  name: {{$secretName}}
  namespace: {{ .Values.secretManager.namespace }}
data:
  roleId: {{ .Values.secretManager.roleId | b64enc | quote }}
  secretId: {{ .Values.secretManager.secretId | b64enc | quote }}
---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: secret-manager
spec:
  releaseName: secret-manager
  targetNamespace: {{ .Values.secretManager.namespace }}
  resetValues: true
  chart:
    repository: https://broadinstitute.github.io/datarepo-helm
    name: install-secrets-manager
    version: 0.0.4
  values:
    installcrd:
      install: false
    vaultLocation: 'https://clotho.broadinstitute.org:8200'
    vaultVersion: kv1
    serviceAccount:
      create: true
    rbac:
      create: true
    # NOTE: These have to match the metadata in secret.yaml.
    existingSecret: {{$secretName}}
    existingRoleIdKey: {{$roleKey}}
    existingSecretIdKey: {{$secretKey}}
